EMAIL_USER=sohampawar1030@gmail.com
# Use a Google App Password (not your account password) for security.
# Generate one here: https://myaccount.google.com/apppasswords
EMAIL_PASS=xxxx-xxxx-xxxx-xxxx
